 /* XS */
h1 {
    color:red;
}
/* SM >= 576px */
@media (min-width: 576px) {
    h1 {
        color: blue;
    }
}
/* MD >= 768px */
@media (min-width: 768px) {
    h1 {
        color: green;
    }
}
/* LG >= 992px */
@media (min-width: 992px) {
    h1 {
        color: purple;
    }
}
/* XL >= 1200px */
@media (min-width:1200px) {
    h1 {
        color: yellow;
    }
}
/* XXL >= 1400px */
@media (min-width: 1400px) {
    h1 {
        color: pink;
    }
}
.btn-primary {
background-color: red;

}
body {
    background-color: white;
}
.container{
    background-color: #888;
}
.container-fluid {
    background-color: #999;
}
/* container Breakpoint */

.container-sm {
    margin-bottom: 30px;
    border: 2px solid blue;
}
.container-md {
    border: 2px solid crimson;
    margin-bottom: 30px;
}
.container-lg {
    border: 2px solid chocolate;
    margin-bottom: 30px;
}
/* Grid */
.container {
    border :5px dotted blue;
    padding: 10px;
    margin-bottom: 300px ;
}
.row {
    border: 5px solid purple;
    height: 100px;
    padding: 10px;
    margin: 0px;
}
.col,
.col-4,
.col-2,
.col-1,
.col-6,
.col-11,
.col-3 {
    border: 2px dashed red;
    height: 100%;
    margin: 0px;
}
#largura-limitada {
    max-width: 500px;

}
/* Alinhamento Vertical */
.vertical {
    height: 250px;
    border-color: coral;
}
.vertical .row{
    height: 100%;
    }
    .vertical .col-6,
    .vertical .col-3,
    .vertical .col-4 {
        height: 50px;

    }